<div class="row">
    <div class="col-8 mx-auto">
        <app-portfolio-list-item *ngFor="let portfolio of portfolios" [portfolio]="portfolio"></app-portfolio-list-item>
    </div>
</div>

<!-- <table class="table"> -->
    <!-- <thead>
        <th class="text-center">Id</th>
        <th class="text-center">Titre</th>
        <th class="text-center">Nom</th>
        <th class="text-center">Ville</th>
        <th class="text-center">Actions</th>
    </thead> -->
    <!-- <tbody> -->
  
        
    <!-- </tbody>
</table> -->